html {
    background-image: url("https://i.imgur.com/AbM2eZP.jpg");
}
body{
    display: flex;
    justify-content: center;
    
    /* background-image: url("grey.jpg"); */
}

form{
    margin-top:100px
}

input{
    margin:10px
}