#container{
    min-height: 20vh;
    width:50%;
    background-color: aqua;
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

#map{
    width:50%;
    height: 100%;
}
#all{
    display:flex;
    height: 620px;
}

.food_truck{
    margin-top: 20px
}

.food_truck img{
    width:25%
}