body{
    overflow: hidden;
}
#container{
    min-height: 20vh;
    width:50%;
    background-color: aqua;
    overflow: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
}

#map{
    width:50%;
    height: 100%;
}
#all{
    display:flex;
    height: 610px;
}

.food_truck{
    background-color: white;
    border-radius: 25px;
    margin: 20px;
    margin-top: 20px;
    text-align: center;
}
#truck_name{
    font-size: 20px;
    padding:5px;
    text-decoration: underline;
}

#menu_button{
    margin:10px;
}
.food_truck img{
    justify-content: center;
    width:50%;
}
